#gameboard   {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap; 
}

.square {
    height: 50px;
    width: 50px;
    position: relative; 
}

/* 
    any element that is a square with svg in it will have these properties
    adding the positon and z-index so that ONLY the pieces are grabbed and not the square or anything else during the drag and drop events 
*/ 
.square svg {
    height: 40px;
    width: 40px;
    margin: 5px;
    position: relative;
    z-index: -9; /* behind the square */
}

path {
    position: relative;
    z-index: -10; /* behind the square */
}

.piece {
    position: relative;
    z-index: 9; /* in front of square */
}

/*
    for the colors, i want the board to be alternating green and white while the pieces are brown and black

    update 8/30/24: ive changed my mind for it to be maple brown and like mahogany brown && the pieces to be black and brownish (burlywood)
*/

.mapleBrown {
    background-color: rgb(102, 51, 0);
}

.mahoganyBrown {
    background-color: rgb(255, 233, 197)
}

.black{ /* svgs work with fill */
    fill: black; 
}

.burlywood {
    fill: burlywood
}
