button{ 
    padding: 1em 1em;
    font-family: Poppins, sans-serif;
    font-weight: 500; 
    border: none;
    border-radius: 100px;
    color: white;
    background: linear-gradient(to right, #2abfff, #0071FF);
    position: relative;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;
}

button::after{
    content: '';
    background: linear-gradient(to right, #ffee00, #ffb300);
    height: 100%;
    width: 0px;
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 150ms ease-in-out;
}

button:hover::after{
    width: 100%;
}

button:hover{
    color: black;
}